{
    "env": {
        "commonjs": true,
        "node": true,
        "jest/globals": true
    },
    "extends": ["eslint:recommended", "plugin:jsdoc/recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "plugins": ["prettier", "@typescript-eslint", "jest", "jsdoc"],
    "rules": {
        "prettier/prettier": "error",
        "jsdoc/require-property-description": "off",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-returns-description": "off"
    },
    "globals": {
        "Proxy": true,
        "isEnd2EndTest": true,
        "isIntegrationTest": true,
        "isExchangeTestFailed": true
    }
}
