{
    "env": {
        "commonjs": true,
        "node": true,
        "jest/globals": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "plugins": ["prettier", "@typescript-eslint", "jest"],
    "rules": {
        "prettier/prettier": "error"
    }
}
